.ml-admin{
    background-color: #000;
}

.m-admin{
    background-color: #ffffff;
}

.nu-admin{
    color: #999999;
}

.cDescricao{

}


/*modal*/
.window{
    display:none;
    width:300px;
    height:300px;
    position:absolute;
    left:0;
    top:0;
    background:#FFF;
    z-index:9900;
    padding:10px;
    border-radius:10px;
}

#mascara{
    position:absolute;
    left:0;
    top:0;
    z-index:9000;
    background-color:#000;
    display:none;
}

.fechar{display:block; text-align:right;}



.alert-info{
    background-image: none;
}

.lista-de-funcionarios{
    margin-top: 50px;
}

.lista-de-funcionarios .funcionario{
    height: 333px;
    -webkit-box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.35);
    -moz-box-shadow:    0px 3px 3px 0px rgba(50, 50, 50, 0.35);
    box-shadow:         0px 3px 3px 0px rgba(50, 50, 50, 0.35);
    
    margin-bottom: 30px;
}

.lista-de-funcionarios .funcionario .topo{
    height: 157px;
    background-color: #0d9bd0;
}
.lista-de-funcionarios .funcionario .topo .nome-funcionario{
    padding-top: 60px;
    color: #FFF;
    text-align: center;
    font-size: 25px;
    font-weight: 200;
    
    
}

.lista-de-funcionarios .funcionario .foto{
    background-image: url(../img/h-funcionario.png);
    height: 87px;
    width: 87px;
    margin: 0 auto;
    margin-top: -43px;
    
}

.lista-de-funcionarios .funcionario .dados{
    font-weight: 200;
    padding-top: 10px;
    margin-left: -20px !important;
}

.lista-de-funcionarios .funcionario .dados .row{
    padding-bottom: 5px;
}

.lista-de-funcionarios .funcionario .dados .row:nth-child(4){
    color: #0d9bd0;
}

.lista-de-funcionarios .funcionario .dados .row:nth-child(5){
    position: absolute;
    margin-top: -20px !important;
    margin-left: 305px;
    
}

.lista-de-funcionarios .funcionario .dados .row:nth-child(5) button{

}