/* */
.progress-pie-chart {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background-color: #E5E5E5;
  position: relative;
}
.progress-pie-chart.gt-50 {
  background-color: #23A7F1;
}

.ppc-progress {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 65px);
  top: calc(50% - 65px);
  width: 130px;
  height: 130px;
  clip: rect(0, 130px, 130px, 65px);
}
.ppc-progress .ppc-progress-fill {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 65px);
  top: calc(50% - 65px);
  width: 130px;
  height: 130px;
  clip: rect(0, 65px, 130px, 0);
  background: #23A7F1;
  transform: rotate(60deg);
}
.gt-50 .ppc-progress {
  clip: rect(0, 65px, 130px, 0);
}
.gt-50 .ppc-progress .ppc-progress-fill {
  clip: rect(0, 130px, 130px, 65px);
  background: #E5E5E5;
}

.ppc-percents {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 113.04348px/2);
  top: calc(50% - 113.04348px/2);
  width: 113.04348px;
  height: 113.04348px;
  background: #fff;
  text-align: center;
  display: table;
}
.ppc-percents span {
  display: block;
  font-size: 2.0em;
  font-weight: bold;
  color: #23A7F1;
}

.pcc-percents-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.progress-pie-chart {
  margin: 5px auto 0;
}