
body{
    margin: 0;
    padding: 0;
    /*font-family: "Kozuka Gothic Pro";*/
    /*background-color: #eee;*/    
}

html, body{
    height:100%; 
}


.menu{
    margin-top: -50px;
    width: 100%;
    min-width: 1300px;
    height: 50px;
    /*background-color: #03a9f4;*/
    background-color: #3498DB;
    box-shadow: 0px 0px 10px 0.00px rgba(0, 0, 0, 0.43);
    position: fixed;
    z-index: 1000;
}

#menu{
    z-index: 1000;
}

.menu-inicio{
    margin-top: 0;
}


.btn-cadastre-se{
    margin-right: 50px;
    margin-top: 5px;
    float: right;
    font-weight: bold;
}

.btn-cadastra{
    font-weight: bold;
    padding: 8px 8px;
}


.btn a:link,
.btn a:visited,
.btn a:active,
.btn a:focus{
    color: #fff;
    text-decoration: none;
}



.btn{
    background-image: none;
    box-shadow: none;
}

.botao-login{
    width: 500px;
}


.escolherTipoLogin{
    margin-top: 100px;
}

.pagina-login{
    margin-top: 100px;
}

.rodape{
    margin-top: 100px;
    background-color: #f3f5f6;
    background-image: url(../img/backinicio.jpg);
    background-size: 100%;
}

#s-logo{
    text-align: center;
    padding-top: 130px;
    padding-bottom: 130px;
}

.descricaoTipoLogin{
    text-align: justify;
    color: #999;
}


.area-sair{
    float: right;
}

.nome-usuario{
    padding-top: 15px;
    padding-right: 50px;
    color: #fff;
    font-weight: bold;
    float: left;
}

.menu-lateral{
    float: left;
    min-width: 65px;
    height: calc(100% - 50px);
    margin-top: 0px;
    border-right: solid 2px #dfdfdf;
    background-color: #fff;
    position: fixed;
    z-index: 1001;
}

.btn-menu-lateral{
    width: 63px;
    height: 50px;
    background: none;
    border: none;
}

.area-titulo-pagina{
    width: 100%;
    min-width: 1300px;
    height: 79px;
    padding-left: 65px;
    margin-top: 50px;
    border-bottom: solid 2px #dfdfdf;
    background-color: #f3f5f6;
}

.titulo-pagina{
    padding-left: 120px;
    padding-top: 26px;
    color: #1a7ab9;
    font-size: 30px;

}

.area-sair{
    float: right;
}

.nome-usuario{
    padding-top: 15px;
    padding-right: 50px;
    color: #fff;
    font-weight: bold;
    float: left;
}

.logo{
    float: left;
    padding-top: 8px;
    padding-left: 50px;
}

.btn-sair{
    padding-top: 15px;
    padding-right: 50px;
    color: #fff;
    font-weight: bold;

    float: right;
}


.btn-sair button{
    background: none;
    border: none;
}

.tudo{
    opacity: 0.2;
}

.conteudo{
    min-width: 1140px;
    max-width: 1140px;
    padding-top: 50px;

    /*opacity: 0.2;*/

}

.cadastro{
    margin-top: 70px;
}

.area-login{
    width: 330px;
    margin-top: -530px;

}
.login{

}

.info-sistema{
    width: 100%;
    height: 616px;
    background-color: #0c0e10;
    background-image: url(../img/bglogin.png);
    background-repeat: no-repeat;
    background-position: center;
}

.informacoes{
    margin-top: -530px;
    text-align: center;
}

#texto-egc{
    color: #fff;
    font-size: 30px;
}

#descricao-egc{
    font-size: 19px;
    color: #999;
}

.btn-login{
    width: 100%;
}

.area-erro-404{
    margin: 0 auto;
    margin-top: -50px;
    margin-bottom: 50px;
    font-size: 17px;
    width: 600px;
    text-align: center;
}

#erro-404{
    margin-top: 50px;
    font-size: 200px;
}

#erro-404, .area-erro-404{
    color: #555;
}

.btn-pagina-erro-404{
    width: 250px;
    margin-left: 10px;
    margin-right: 10px;
}

.hide{
    display:none;
}

.show{
    display: block;
}


.bg-formulario{
    background-color: #fff;
    border: #dfdfdf 1px solid;
    border-radius: 1px;

}

.titulo-formulario{
    padding-top: 16px;
    padding-left: 20px;
    margin-bottom: 15px;
    padding-bottom: 16px;
    border-bottom: solid 1px #dfdfdf;
    font-weight: bold;
    font-size: 16px;    
    color: #555;
}

.tabela-formulario{
    padding: 10px 30px 0px 30px;
}



.btns-numero-tipos-denuncia{
    margin-top: 20px;
}

.area-administrativa{
    margin: 0;
    padding: 0;
    margin-left: 60px;
    width: calc(100% - 60px);
    
}

.btn-1,
.btn-2,
.btn-3,
.btn-4{
    margin: 10px;
    width: 23.199% !important;
    padding-bottom: 15px;
    padding-top: 23px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    border-radius: 3px;
}

.btn-1 .col-md-6:nth-child(2),
.btn-2 .col-md-6:nth-child(2),
.btn-3 .col-md-6:nth-child(2),
.btn-4 .col-md-6:nth-child(2){
    text-align: right;
}

.btn-1 .col-md-6:nth-child(2) .row:nth-child(2),
.btn-2 .col-md-6:nth-child(2) .row:nth-child(2),
.btn-3 .col-md-6:nth-child(2) .row:nth-child(2),
.btn-4 .col-md-6:nth-child(2) .row:nth-child(2){
    font-size: 30px;
}

.btn-1{
    background-color: #03a9f4;
}

.btn-2{
    background-color: #8bc34a;
}

.btn-3{
    background-color: #e84e40;
}

.btn-4{
    background-color: #9c27b0;
}


.resumo{
    margin-top: 160px !important;
}

.resumo > .col-md-12{
    width: 95.6%;
    margin-left: 25px;
    margin-bottom: 30px;
    border: solid 1px #dfdfdf;
    border-radius: 3px;
    padding: 0;
    padding-top: 20px;
    
}

.resumo > .col-md-12{
    background-color: #fff;
}

.denuncias-mais-ajudadas .row:nth-child(1){
    font-size: 17px;
    padding-bottom: 15px;
    padding-left: 8px;
}

.denuncias-mais-ajudadas .table th{
    border-top: none;
}

.denuncias-mais-ajudadas .table td{
    padding-top: 15px;
    padding-bottom: 15px;
    vertical-align: middle;
}

/* TOTAL */
.denuncias-mais-ajudadas .table td:nth-child(1),
.denuncias-mais-ajudadas .table th:nth-child(1){
    width: 80px;
    text-align: center;
}

.denuncias-mais-ajudadas .table td:nth-child(1){
    color: #42aef4;
}

/* DESCRIÇÃO */
.denuncias-mais-ajudadas .table td:nth-child(2),
.denuncias-mais-ajudadas .table th:nth-child(2){
    width: 35% !important;
}

/* TIPO */
.denuncias-mais-ajudadas .table td:nth-child(3),
.denuncias-mais-ajudadas .table th:nth-child(3){
    width: 110px;
}

.denuncias-mais-ajudadas .table td:nth-child(3){
    color: #42aef4;
    font-size: 12px;
}

/* DATA */
.denuncias-mais-ajudadas .table td:nth-child(5),
.denuncias-mais-ajudadas .table th:nth-child(5){
    width: 140px;
    text-align: center;
}

.denuncias-mais-ajudadas .table td:nth-child(5){
    font-size: 12px;
}

/* STATUS */
.denuncias-mais-ajudadas .table td:nth-child(6),
.denuncias-mais-ajudadas .table th:nth-child(6){
    width: 120px;
    text-align: center;
}

/* VISUALIZAR */
.denuncias-mais-ajudadas .table td:nth-child(7){
    width: 50px;
    text-align: right;
}

.btn-visualizar-denuncia{
    height: 28px;
    width: 28px;
    background-color: #03a9f4;
    color: #fff;
    padding: 0;
    text-align: center;
}

.btn-visualizar-denuncia:hover,
.btn-visualizar-denuncia:focus{
    background-color: #2980b9;
    color: #fff;
}


.btn-nd{
    width: 200px;
}

.feed-usuario{
    margin-left: 0px;
    z-index: 1;
}



.todas-denuncias, .denuncia-visualizada{
    background-color: #fff;
    border: #dfdfdf 1px solid;
    border-radius: 1px;
    padding: 10px;
}

.icone-denuncia{
    text-align: right;
}

.icone-denuncia img{
    width: 100%;
}

.rua-denuncia{
    font-weight: bold;
    color: #09587b;
    font-size: 12px;
}

.conteudo-denuncia{

    color: #575757;
}

.hora-denuncia{
    font-size: 10px;
    color: #808080;
    background-image: url(../img/icones-denuncia/ic-relogio.png);
    background-repeat: no-repeat;
}

.denuncia{
    border-bottom:  solid 1px #dfdfdf;
    padding-top: 15px;
    padding-bottom: 15px;
}






.denuncia-visualizada{
    padding: 20px;
    padding-bottom: 0px;
    margin-bottom: 30px;
    border: none;
    border-top: 1px solid #f0f0f0;
}

.tag-info-atendimento{
    position: absolute;
    margin-top: -25px;
    /*margin-left: 441px;*/
    margin-left: 462px;
}


.link-mapa-denuncia{
    text-decoration: underline;
    font-size: 12px;
    color: #575757;
    padding-left: 10px;
    padding-top: 20px;
}

.img-denuncia{

    max-width: 100%;
    max-height: 400px;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 10px;
    padding-top: 5px;

}

.rodape-denuncia{
    background-color: #5a91f7;
    height: 50px;
    margin-left: -20px;
    margin-right: -20px;
}

.hora-denuncia-visualizada{
    color: #fff;
    font-size: 12px;
    padding-top: 17px;
    padding-left: 25px;
    background-image: url(../img/icones-denuncia/ic-relogio-branco.png);
    background-repeat: no-repeat;
    background-position: 10px 18px;
}

.impucionar-denuncia{
    color: #fff;
    padding-top: 7px;

}

.btn-ajudar-denuncia{
    font-size: 10px;
    background: none;
    border: none;
    color: #000;
    background-color: #fff;
    border-radius: 5px;
    width: 35px;
    height: 35px;
}

/*modal reclamação*/
#modal-reclamacao .modal-content{
    color: #000 !important;
}



.notificacao{
    position: fixed;
    margin-top: -150px;
    margin-left: -300px;
}


.magin-btn-nd{
    margin-right: 0;
    padding-right: 0;
}

.btn-img{

    margin: 0;
    padding: 0;
    border: none;
    background: none;
}











.btn-nova-denuncia{
    background: none;
    border: none;
    height: 78px;
    padding-left: 8px;
    background-color: #3399ff;
    width: 320px;
    float: right;


}


.bnt-vd{
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    position: relative;
    float: left;
}

.icon-btn-vd{
    margin-top: -1px;
    background-color: #0066cc;
    height: 78px;
    width: 78px;
    text-align: center;
    margin-left: -15px;
    font-size: 25px;
    color: #fff;
    padding-top: 23px;
}

.text-bnt-vd{
    font-size: 18px;
    color: #fff;
    padding-top: 27px;
}


.btn-fecha-modal{
    border: none;
}

.conteudo-denuncia-modal{
    padding: 10px;
    padding-right: 20px;


}

.scroll{
    overflow: auto !important;
    max-height: 500px !important;
}

.modal-inf-atendida,
.modal-inf-em-trabalho{
    font-family: "Arial", sans-serif !important;
    width: 390px !important;
    padding: 10px !important;
    padding-left: 20px !important;
    color: #f0f0f0;
    font-size: 16px;
}

.modal-inf-atendida{
    background-color: #2ECC71 !important;
}

.modal-inf-em-trabalho{
    background-color: #3498DB !important;
}

.frame-mapa{
    margin-left: -10px !important;
}


.img-denuncia-modal{
    max-width: 870px;
    max-height: 600px;


    position:absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    margin:auto;

    padding: 10px;  
}

.img-modal{
    text-align: center;
    background-color: #000;
    border-radius: 5px 0 0 5px;
    min-height: 600px;
}

.bs-example-modal-lg > .modal-lg{
    position: absolute;
    width: 1300px;
    left: 50%;
    top:50%;
    margin-left: -650px;
    margin-top: -300px;
}






.menu-filtro{
    /*    position: fixed;
        margin-left: calc(100% - 270px);*/
    float: right;
    width: 270px;
    height:auto; 
    min-height:550px;
    margin-top: 0px;
    background-color: #f0f0f0;
    z-index: 100;
    color: #5d5d5d;
}

.fixar-menu-filtro{
    position: fixed;
    margin-left: calc(100% - 270px);
    margin-top: -79px !important;

}


.menu-filtro .row{
    margin: 0px !important;
}

.barra-pesquisa-usuario, 
.cidade-atual,
.info-denuncias,
.info-atendidas,
.filtro{
    padding: 10px;
    border-bottom: 1px solid #d8d8d8;
}

.barra-pesquisa-usuario  .form-control{
    border-radius: 20px !important;
    color: #999;
    font-size: 17px;
}

.cidade-atual{
    font-size: 18px;
    padding-left: 15px;
}

.info-denuncias-atendidas{

}

.info-denuncias{
    border-right: 1px solid #d8d8d8;;
}

.info-texto{
    padding-top: 10px;
    text-align: center;
    font-size: 16px;
}

.info-texto-numero{
    text-align: center;
    font-size: 40px;
}

.filtro{

}

.texto-filtro{
    font-size: 16px;
    padding-bottom: 10px;

}

.ordem-ativa{
    margin-top: -5px;
    padding-top: 3px;
    border-top: 2px solid #03a9f4;
}

.icone-organizar-denuncia{
    padding-left: 30px;
}

.icone-organizar-denuncia img{
    width: 15px;

}

.todos-icones-filtro{
    margin-left: -10px;
}

.icone-filtro{
    text-align: center;
}

.icone-filtro img{
    width: 50px !important;
    padding-bottom: 13px; 
}


.info-egc{
    text-align: center;
    padding-top: 10px;
}




.ui-autocomplete { 
    background: #fff; 
    border-top: 1px solid #ccc;
    cursor: pointer; 
    font: 15px 'Open Sans',Arial;
    margin-left: 3px;
    width: 493px !important;
    position: fixed;
}

.ui-autocomplete .ui-menu-item { 
    list-style: none outside none;
    padding: 7px 0 9px 10px;
}

.ui-autocomplete .ui-menu-item:hover, .ui-autocomplete a:hover { 
    background: #eee;
    border: none;
    box-shadow: none;
}

.ui-autocomplete .ui-corner-all { 
    color: #666 !important;
    display: block;
}


#mapa{
    border: 5px solid #dfdfdf;
}


