
body{
    margin: 0;
    padding: 0;
    /*font-family: "Kozuka Gothic Pro";*/
    /*background-color: #eee;*/    
}

html, body{
    height:100%; 
}


.menu{
    margin-top: -50px;
    width: 100%;
    min-width: 1300px;
    height: 50px;
    /*background-color: #03a9f4;*/
    background-color: #3498DB;
    box-shadow: 0px 0px 10px 0.00px rgba(0, 0, 0, 0.43);
    position: fixed;
    z-index: 1000;
}

#menu{
    z-index: 1000;
}

.menu-inicio{
    margin-top: 0;
}


.btn-cadastre-se{
    margin-right: 50px;
    margin-top: 5px;
    float: right;
    font-weight: bold;
}

.btn-cadastra{
    font-weight: bold;
    padding: 8px 8px;
}


.btn a:link,
.btn a:visited,
.btn a:active,
.btn a:focus{
    color: #fff;
    text-decoration: none;
}



.btn{
    background-image: none;
    box-shadow: none;
}

.botao-login{
    width: 500px;
}


.escolherTipoLogin{
    margin-top: 100px;
}

.pagina-login{
    margin-top: 100px;
}

.rodape{
    margin-top: 100px;
    background-color: #f3f5f6;
    background-image: url(../img/backinicio.jpg);
    background-size: 100%;
}

#s-logo{
    text-align: center;
    padding-top: 130px;
    padding-bottom: 130px;
}

.descricaoTipoLogin{
    text-align: justify;
    color: #999;
}


.area-sair{
    float: right;
}

.area-sair .foto-topo{
    width: 40px;
    height: 40px;
    border-radius: 90px;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
    float: left;
    margin-right: 18px;
    margin-top: -10px;
}

.nome-usuario{
    padding-top: 15px;
    padding-right: 50px;
    color: #fff;
    font-weight: bold;
    float: left;
}

.nome-usuario img{

    margin-top: -5px;
    margin-right: 15px;
}

.menu-lateral{
    float: left;
    width: 65px;
    height: calc(100% - 50px);
    margin-top: 0px;
    border-right: solid 2px #dfdfdf;
    background-color: #fff;
    position: fixed;
    z-index: 1001;
}

.btn-menu-lateral{
    width: 63px;
    height: 50px;
    background: none;
    border: none;
}

.btn-menu-lateral input[type="image"]{

    padding: 12px 19px 12px 19px;

    width: 63px;
    height: 50px;
    margin-left: -5px;
}

.btn-menu-lateral .foto{
    width: 40px;
    height: 40px;
    border-radius: 90px;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.menu-lateral .btn-configuracao{
    border-bottom: 1px solid #666 !important;
    margin-bottom: 15px;
}

.menu-lateral .user-online{

    text-align: center;
    margin-bottom: 5px;
    text-decoration: none !important; 
    /*    color: #5c97bf;
        text-decoration: none !important;
        font-size: 12px;*/
    /*font-weight: 100;*/
}

.menu-lateral .user-online .label{

}

.area-titulo-pagina{
    width: 100%;
    min-width: 1300px;
    height: 79px;
    padding-left: 65px;
    margin-top: 50px;
    border-bottom: solid 2px #dfdfdf;
    background-color: #f3f5f6;
}

.titulo-pagina{
    padding-left: 120px;
    padding-top: 26px;
    color: #1a7ab9;
    font-size: 30px;

}

.area-sair{
    float: right;
}

.nome-usuario{
    padding-top: 15px;
    padding-right: 50px;
    color: #fff;
    font-weight: bold;
    float: left;
}

.logo{
    float: left;
    padding-top: 8px;
    padding-left: 50px;
}

.btn-sair{
    padding-top: 15px;
    padding-right: 50px;
    color: #fff;
    font-weight: bold;

    float: right;
}


.btn-sair button{
    background: none;
    border: none;
}

.tudo{
    opacity: 0.2;
}

.conteudo{
    min-width: 1140px;
    max-width: 1140px;
    padding-top: 50px;

    /*opacity: 0.2;*/

}

.cadastro{
    margin-top: 70px;
}

.area-login{
    width: 330px;
    margin-top: -530px;

}
.login{

}

.info-sistema{
    width: 100%;
    height: 616px;
    background-color: #0c0e10;
    background-image: url(../img/bglogin.png);
    background-repeat: no-repeat;
    background-position: center;
}

.informacoes{
    margin-top: -530px;
    text-align: center;
}

#texto-egc{
    color: #fff;
    font-size: 30px;
}

#descricao-egc{
    font-size: 19px;
    color: #999;
}

.btn-login{
    width: 100%;
}



.area-erro-404{
    margin: 0 auto;
    margin-top: -50px;
    margin-bottom: 50px;
    font-size: 17px;
    width: 600px;
    text-align: center;
}

#erro-404{
    margin-top: 50px;
    font-size: 200px;
}

#erro-404, .area-erro-404{
    color: #555;
}

.btn-pagina-erro-404{
    width: 250px;
    margin-left: 10px;
    margin-right: 10px;
}

.hide{
    display:none;
}

.show{
    display: block;
}


.bg-formulario{
    background-color: #fff;
    border: #dfdfdf 1px solid;
    border-radius: 1px;

}

.titulo-formulario{
    padding-top: 16px;
    padding-left: 20px;
    margin-bottom: 15px;
    padding-bottom: 16px;
    border-bottom: solid 1px #dfdfdf;
    font-weight: bold;
    font-size: 16px;    
    color: #555;
}

.tabela-formulario{
    padding: 10px 30px 0px 30px;
}



.btns-numero-tipos-denuncia{
    margin-top: 20px;
}

.area-administrativa{
    margin: 0;
    padding: 0;
    margin-left: 60px;
    width: calc(100% - 60px);

}

.btn-1,
.btn-2,
.btn-3,
.btn-4{
    margin: 15px;
    margin-right: 0;
    width: calc(25% - 17px) !important;
    padding-bottom: 15px;
    padding-top: 23px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    border-radius: 3px;
}

.btn14-prefeitura .btn-1,
.btn14-prefeitura .btn-2,
.btn14-prefeitura .btn-3,
.btn14-prefeitura .btn-4{
    width: calc(50% - 17px) !important;
}

.btn-1 .col-md-6:nth-child(2),
.btn-2 .col-md-6:nth-child(2),
.btn-3 .col-md-6:nth-child(2),
.btn-4 .col-md-6:nth-child(2){
    text-align: right;
}

.btn-1 .col-md-6:nth-child(2) .row:nth-child(2),
.btn-2 .col-md-6:nth-child(2) .row:nth-child(2),
.btn-3 .col-md-6:nth-child(2) .row:nth-child(2),
.btn-4 .col-md-6:nth-child(2) .row:nth-child(2){
    font-size: 30px;
}

.btn-1{
    background-color: #03a9f4;
}

.btn-2{
    background-color: #8bc34a;
}

.btn-3{
    background-color: #e84e40;
}

.btn-4{
    background-color: #9c27b0;
}

.ultimos-registros{
    /*margin-left: 15px;*/
    height: 250px;
}

.resumo{
    margin-top: 160px !important;
}

.resumo > .col-md-12,
.resumo-meio > .col-md-12 > .col-md-4,
.resumo-meio > .col-md-12 > .col-md-8{
    width: calc(100% - 40px);
    margin-left: 25px;
    margin-bottom: 30px;
    border: solid 1px #dfdfdf;
    border-radius: 3px;
    padding: 0;
    padding-top: 20px;

}

.resumo-meio > .col-md-12 > .col-md-4,
.resumo-meio > .col-md-12 > .col-md-8{
    width: calc(33.33333333% - 13px);
    margin-left: 13px;
    background-color: #fff;
    padding-left: 12px;
    padding-bottom: 30px;
}

.resumo-meio > .col-md-12 > .col-md-8{
    width: calc(66.66666667% - 13px);
}

.resumo > .col-md-12{
    background-color: #fff;
}

.denuncias-mais-ajudadas > .row:nth-child(1),
.ultimas-denuncias > .row:nth-child(1),
.ultimas-atendidas > .row:nth-child(1){
    font-size: 17px;
    padding-bottom: 15px;
    padding-left: 8px;
}

.ultimos-registros .titulo-area{
    font-size: 17px;
    padding-bottom: 15px;
    padding-left: 18px;
    /*padding-left: 18px !important;*/
}

.denuncias-mais-ajudadas .table th{
    border-top: none;
}

.denuncias-mais-ajudadas .table td{
    padding-top: 15px;
    padding-bottom: 15px;
    vertical-align: middle;
}

/* TOTAL */
.denuncias-mais-ajudadas .table td:nth-child(1),
.denuncias-mais-ajudadas .table th:nth-child(1){
    width: 80px;
    text-align: center;
}

.denuncias-mais-ajudadas .table td:nth-child(1){
    color: #42aef4;
}

/* DESCRIÇÃO */
.denuncias-mais-ajudadas .table td:nth-child(2),
.denuncias-mais-ajudadas .table th:nth-child(2){
    width: 35% !important;
}

/* TIPO */
.denuncias-mais-ajudadas .table td:nth-child(3),
.denuncias-mais-ajudadas .table th:nth-child(3){
    width: 110px;
}

.denuncias-mais-ajudadas .table td:nth-child(3){
    color: #42aef4;
    font-size: 12px;
}

/* DATA */
.denuncias-mais-ajudadas .table td:nth-child(5),
.denuncias-mais-ajudadas .table th:nth-child(5){
    width: 140px;
    text-align: center;
}

.denuncias-mais-ajudadas .table td:nth-child(5){
    font-size: 12px;
}

/* STATUS */
.denuncias-mais-ajudadas .table td:nth-child(6),
.denuncias-mais-ajudadas .table th:nth-child(6){
    width: 120px;
    text-align: center;
}

/* VISUALIZAR */
.denuncias-mais-ajudadas .table td:nth-child(7){
    width: 50px;
    text-align: right;
}

.btn-visualizar-denuncia{
    height: 28px;
    width: 28px;
    background-color: #03a9f4;
    color: #fff;
    padding: 0;
    text-align: center;

}

.btn-visualizar-denuncia:hover,
.btn-visualizar-denuncia:focus{
    background-color: #2980b9;
    color: #fff;
}

.btn-visualizar-denuncia .glyphicon-zoom-in{
    vertical-align: middle !important;
}

.ultimas-denuncias{
    font-size: 11px !important;
}

.ultimas-denuncias .conteudo-denuncia{
    font-size: 12px
}



.borda-denuncia{
    width: calc(100% - 1px); 
    border: solid 3px #ebebeb;
    text-align: left;
    padding: 0;
    margin-left: -8px;
    margin-bottom: 15px;
    margin-top: 7px;
}

.ud-denuncia{
    border-top: solid 2px #ebebeb;
    padding-top: 17px;
    padding-bottom: 7px;
}

.ultimas-denuncias + .ud-denuncia{
    border-top: solid 10px #ebebeb;
}

.ultimas-denuncias .hora-denuncia,
.ultimas-atendidas .hora-denuncia{
    text-align: right;
    background-position: calc(100% - 110px);
}

.col-md-mesmo-tamanho{
    display: table;
    height: 100%;
    /* fix overflow */
    table-layout: fixed;
    border: 1px solid;
}

.ultimas-atendidas table{
    width: 100%;
}

.ultimas-atendidas table tr:nth-child(1) td:nth-child(2){
    border-left: solid 10px;
    border-color: #fff;
    width: 60%;
    background-position: center;
    background-size: 100%;
}

.ultimas-atendidas .reposta-denuncia{
    color: #fff;
    padding: 30px;
    padding-left: 70px;
    padding-right: 70px;
    text-align: center;
    font-family: serif;
    font-size: 21px;
    background-color: #000; 
    opacity: 0.7;


}


.ultimas-atendidas table tr:nth-child(1) td:nth-child(1){
    width: 40%;
}

.ultimas-atendidas .denuncia-feita{
    height: 140px;
    max-height: 140px;
    background-size: 100%;
    background-position: center;
}

.ultimas-atendidas table tr:nth-child(2) td:nth-child(1){
    background-color: #44a0dd;

}

.ultimas-atendidas .denuncia-feita-descricao{
    text-align: center;
    color: #fff;
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;

}

.btn-nd{
    width: 200px;
}

.feed-usuario{
    margin-left: 0px;
    z-index: 1;
}



.todas-denuncias, .denuncia-visualizada{
    background-color: #fff;
    border: #dfdfdf 1px solid;
    border-radius: 1px;
    padding: 10px;
}

.icone-denuncia{
    text-align: right;
}

.icone-denuncia img{
    width: 100%;
}

.rua-denuncia{
    font-weight: bold;
    color: #09587b;
    font-size: 12px;
    text-align: left;
}

.conteudo-denuncia{

    color: #575757;
}

.hora-denuncia{
    font-size: 10px;
    color: #808080;
    background-image: url(../img/icones-denuncia/ic-relogio.png);
    background-repeat: no-repeat;
    padding-left: 15px;
}

.denuncia{
    border-bottom:  solid 1px #dfdfdf;
    padding-top: 15px;
    padding-bottom: 15px;
}






.denuncia-visualizada{
    padding: 20px;
    padding-bottom: 0px;
    margin-bottom: 30px;
    border: none;
    border-top: 1px solid #f0f0f0;
}

.tag-info-atendimento{
    position: absolute;
    margin-top: -25px;
    /*margin-left: 441px;*/
    margin-left: 462px;
}


.link-mapa-denuncia{
    text-decoration: underline;
    font-size: 12px;
    color: #575757;
    padding-left: 10px;
    padding-top: 20px;
}

.ultimas-denuncias .link-mapa-denuncia,
.denuncias-mais-ajudadas .link-mapa-denuncia,
.ultimas-atendidas .link-mapa-denuncia{
    padding: 0;
}

.img-denuncia{

    max-width: 100%;
    width: 100%;
    max-height: 400px;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 10px;
    padding-top: 5px;

}

.rodape-denuncia{
    background-color: #5a91f7;
    height: 50px;
    margin-left: -20px;
    margin-right: -20px;
}

.hora-denuncia-visualizada{
    color: #fff;
    font-size: 12px;
    padding-top: 17px;
    padding-left: 25px;
    background-image: url(../img/icones-denuncia/ic-relogio-branco.png);
    background-repeat: no-repeat;
    background-position: 10px 18px;
}

.impucionar-denuncia{
    color: #fff;
    padding-top: 7px;

}

.btn-ajudar-denuncia{
    font-size: 10px;
    background: none;
    border: none;
    color: #000;
    background-color: #fff;
    border-radius: 5px;
    width: 35px;
    height: 35px;
}

/*modal reclamação*/
#modal-reclamacao .modal-content{
    color: #000 !important;
}



.notificacao{
    position: fixed;
    margin-top: -150px;
    margin-left: -300px;
}


.magin-btn-nd{
    margin-right: 0;
    padding-right: 0;
}

.btn-img{

    margin: 0;
    padding: 0;
    border: none;
    background: none;
}











.btn-nova-denuncia{
    background: none;
    border: none;
    height: 78px;
    padding-left: 8px;
    background-color: #3399ff;
    width: 320px;
    float: right;


}


.bnt-vd{
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    position: relative;
    float: left;
}

.icon-btn-vd{
    margin-top: -1px;
    background-color: #0066cc;
    height: 78px;
    width: 78px;
    text-align: center;
    margin-left: -15px;
    font-size: 25px;
    color: #fff;
    padding-top: 23px;
}

.text-bnt-vd{
    font-size: 18px;
    color: #fff;
    padding-top: 27px;
}


.btn-fecha-modal{
    border: none;
}

.conteudo-denuncia-modal{
    padding: 10px;
    padding-right: 20px;
    text-align: left;

}

.scroll{
    overflow: auto !important;
    max-height: 500px !important;
}

.modal-inf-atendida,
.modal-inf-em-trabalho{
    font-family: "Arial", sans-serif !important;
    width: 390px !important;
    padding: 10px !important;
    padding-left: 20px !important;
    color: #f0f0f0;
    font-size: 16px;
}

.modal-inf-atendida{
    background-color: #2ECC71 !important;
}

.modal-inf-em-trabalho{
    background-color: #3498DB !important;
}

.frame-mapa{
    margin-left: -10px !important;
}


.img-denuncia-modal{
    max-width: 870px;
    max-height: 600px;


    position:absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    margin:auto;

    padding: 10px;  
}

.img-modal{
    text-align: center;
    background-color: #000;
    border-radius: 5px 0 0 5px;
    min-height: 600px;
}

.bs-example-modal-lg > .modal-lg{
    position: absolute;
    width: 1300px;
    left: 50%;
    top:50%;
    margin-left: -650px;
    margin-top: -300px;
}






.menu-filtro{
    /*    position: fixed;
        margin-left: calc(100% - 270px);*/
    float: right;
    width: 270px;
    height:auto; 
    min-height:550px;
    margin-top: 0px;
    background-color: #f0f0f0;
    z-index: 100;
    color: #5d5d5d;
}

.fixar-menu-filtro{
    position: fixed;
    margin-left: calc(100% - 270px);
    margin-top: -79px !important;

}


.menu-filtro .row{
    margin: 0px !important;
}

.barra-pesquisa-usuario, 
.cidade-atual,
.info-denuncias,
.info-atendidas,
.filtro{
    padding: 10px;
    border-bottom: 1px solid #d8d8d8;
}

.barra-pesquisa-usuario  .form-control{
    border-radius: 20px !important;
    color: #999;
    font-size: 17px;
}

.cidade-atual{
    font-size: 18px;
    padding-left: 15px;
}

.info-denuncias-atendidas{

}

.info-denuncias{
    border-right: 1px solid #d8d8d8;;
}

.info-texto{
    padding-top: 10px;
    text-align: center;
    font-size: 16px;
}

.info-texto-numero{
    text-align: center;
    font-size: 40px;
}

.filtro{

}

.texto-filtro{
    font-size: 16px;
    padding-bottom: 10px;

}

.ordem-ativa{
    margin-top: -5px;
    padding-top: 3px;
    border-top: 2px solid #03a9f4;
}

.icone-organizar-denuncia{
    padding-left: 30px;
}

.icone-organizar-denuncia img{
    width: 15px;

}

.todos-icones-filtro{
    margin-left: -10px;
}

.icone-filtro{
    text-align: center;
}

.icone-filtro img{
    width: 50px !important;
    padding-bottom: 13px; 
}


.info-egc{
    text-align: center;
    padding-top: 10px;
}




.ui-autocomplete { 
    background: #fff; 
    border-top: 1px solid #ccc;
    cursor: pointer; 
    font: 15px 'Open Sans',Arial;
    margin-left: 3px;
    width: 493px !important;
    position: fixed;
}

.ui-autocomplete .ui-menu-item { 
    list-style: none outside none;
    padding: 7px 0 9px 10px;
}

.ui-autocomplete .ui-menu-item:hover, .ui-autocomplete a:hover { 
    background: #eee;
    border: none;
    box-shadow: none;
}

.ui-autocomplete .ui-corner-all { 
    color: #666 !important;
    display: block;
}


#mapa{
    /*border: 5px solid #dfdfdf;*/
}

.formulario-denuncia{
    margin-left: 77px;
    margin-top: 55px;
    width: 400px;
    position: absolute;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.7);;
    padding: 20px 15px 30px 15px;
    border-radius: 6px;
    -webkit-box-shadow: 20px 13px 60px -5px rgba(0,0,0,0.32);
    -moz-box-shadow: 20px 13px 60px -5px rgba(0,0,0,0.32);
    box-shadow: 20px 13px 60px -5px rgba(0,0,0,0.32);


    /*    color: #fff;*/
}

.area-mapa{
    z-index: 1;
    position: absolute;
    width: calc(100% - 65px);
    height: calc(100%);
    margin-left: 65px;
}

.mapa-denuncia{
    height: 100%;
    width: 100%;
}


.lista-de-funcionarios,
.lista-de-denuncias{
    margin-top: 50px;
}

.lista-de-funcionarios .funcionario{
    height: 333px;
}

.lista-de-denuncias .denuncia-com-reclamacao,
.lista-de-funcionarios .funcionario{

    -webkit-box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.35);
    -moz-box-shadow:    0px 3px 3px 0px rgba(50, 50, 50, 0.35);
    box-shadow:         0px 3px 3px 0px rgba(50, 50, 50, 0.35);

    margin-bottom: 30px;
}

.lista-de-denuncias .denuncia-com-reclamacao{
    /*min-height: 333px;*/
}

.lista-de-denuncias .denuncia-com-reclamacao .topo,
.lista-de-funcionarios .funcionario .topo{
    height: 157px;
    background-color: #0d9bd0;
}

.lista-de-denuncias .denuncia-com-reclamacao .topo .nome-funcionario,
.lista-de-funcionarios .funcionario .topo .nome-funcionario{
    padding-top: 60px;
    color: #FFF;
    text-align: center;
    font-size: 25px;
    font-weight: 200;


}

.lista-de-denuncias .denuncia-com-reclamacao .foto,
.lista-de-funcionarios .funcionario .foto{
    /*background-image: url(../img/h-funcionario.png);*/
    height: 87px;
    width: 87px;
    margin: 0 auto;
    margin-top: -43px;

}

.lista-de-denuncias .denuncia-com-reclamacao .foto .foto,
.lista-de-funcionarios .funcionario .foto .foto{
    height: 87px;
    width: 87px;
    border-radius: 90px;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;

}


.lista-de-funcionarios .funcionario .foto .login{
    width: 200px;
    margin-left: 100px;
    margin-top: -40px;
    /*font-size: 10px;*/

}

.lista-de-funcionarios .funcionario .foto .login .ultimo-login{
    color: #999;
    font-size: 12px;
}

.lista-de-funcionarios .funcionario .foto .login .label{
    font-size: 11px;
}


.lista-de-denuncias .denuncia-com-reclamacao .dados,
.lista-de-funcionarios .funcionario .dados{
    font-weight: 200;
    padding-top: 10px;
    margin-left: -20px !important;
}

.lista-de-denuncias .denuncia-com-reclamacao .dados .row,
.lista-de-funcionarios .funcionario .dados .row{
    padding-bottom: 5px;
}

.lista-de-funcionarios .funcionario .dados .row:nth-child(4){
    color: #0d9bd0;
}

.lista-de-funcionarios .funcionario .dados .row:nth-child(5){
    position: absolute;
    margin-top: -20px !important;
    margin-left: 305px;

}

.lista-de-denuncias .denuncia-com-reclamacao .dados .row:nth-child(2){
    padding-bottom: 30px;
}

.lista-de-funcionarios .funcionario .dados .row:nth-child(5) button{

}

.denuncia-reclamacao .rodape-info-dr,
.lista-de-denuncias .denuncia-com-reclamacao .rodape-info{
    /*height: 50px;*/
    /*background-color: #0d9bd0;*/
    border-top: 1px solid #ccc;
}
.denuncia-reclamacao .rodape-info-dr .hora-denuncia,
.lista-de-denuncias .denuncia-com-reclamacao .rodape-info .hora-denuncia{
    margin: 10px;
    margin-left: 25px;
}

.denuncia-reclamacao .rodape-info-dr .numero-denuncias,
.denuncia-reclamacao .rodape-info-dr .numero-ajuda,
.lista-de-denuncias .denuncia-com-reclamacao .rodape-info .numero-denuncias{
    font-size: 12px;
    margin-top: 8px;
    color: #808080;
    text-align: right;
}

.lista-de-denuncias .denuncia-com-reclamacao .rodape-info .btn-opcoes{
    padding-top: 7px;
    padding-left: 30px;
}

.opcoes-denuncia-dr{
    margin-top: 50px;
}

.comentarios-dr .mensagem,
.opcoes-denuncia-dr .mensagem{
    text-align: center;
    font-size: 30px;
    font-weight: 200;
    padding-bottom: 20px;
}


.opcoes-denuncia-dr .btn-denuncia-dr{
    text-align: right !important;
}


.denuncia-reclamacao{
    margin-top: 0px;

    /*background-color:#0066cc;*/ 
    -webkit-box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.35);
    -moz-box-shadow:    0px 3px 3px 0px rgba(50, 50, 50, 0.35);
    box-shadow:         0px 3px 3px 0px rgba(50, 50, 50, 0.35);

    margin-bottom: 30px;
}

.denuncia-reclamacao .foto-dr img{
    max-width: 100%;
}

.denuncia-reclamacao .conteudo-dr{
    margin-top: 20px;
}

.denuncia-reclamacao .conteudo-dr img{
    width: 60px;

}

.denuncia-reclamacao .link-mapa-denuncia{
    padding-top: 30px;
    padding-bottom: 5px;
    text-decoration: underline !important;
}

.denuncia-reclamacao .rodape-info-dr .numero-denuncias,
.denuncia-reclamacao .rodape-info-dr .numero-ajuda{
    text-align: right;
}

.denuncia-reclamacao .mapa-dr{
    /*opacity: 0.5;*/
    padding-bottom: 2px;
}



.perfil-funcionario{
    /*width: 100%;*/
    /*min-width: 1300px;*/
    /*padding-left: 65px !important;*/
    /*margin-top: 50px;*/
    height: 340px !important;
    border-bottom: solid 2px #dfdfdf;
    background-color: #f3f5f6;
}

.perfil-topo{
    width: 100%;
    height: 250px !important;
    background-image: url(../img/40.jpg);
    background-size: 100%;
    background-position: 0 -420px ;
}

.perfil-topo .nome-perfil{
    color: #fff;
    font-size: 30px;
    font-weight: 100;
    margin-top: 200px;
    margin-left: -30px;
} 

.perfil-topo .nome-perfil .btn-default{
    background: none;
    color: #fff;
    font-weight: 100;
    text-shadow: none;
    background-image: none;
    letter-spacing: 2px;
    margin-left: 15px;
}

.perfil-info{
    width: 100%;
    background-color: #fff;
    height: 90px;
    border-bottom: solid 2px #dfdfdf;
    padding-top: 20px;
}

.perfil-info .dados-funcionario{
    margin-left: -85px;
    font-weight: 200;
}

.perfil-info .col-md-3,
.perfil-info .col-md-4{
    border-right: 1px solid #ccc;
}

.perfil-info .dado{
    font-size: 20px;
}

.perfil-info .tipo{
    color: #999;
    font-size: 13px;
}



.perfil-info .dados-funcionario .btn-vincular .btn-primary{
    letter-spacing: 1px;

    font-weight: 200;
    margin-top: 5px;
    background-color: #03a4f7;
    border-color: #058cd2;
}

.perfil-foto{
    height: 130px;
    width: 130px;
    position: absolute;
    margin-top: -65px;
    margin-left: 100px
}

.perfil-foto .foto{
    height: 130px;
    width: 130px;
    border-radius: 90px;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;

}


.opcoes-registro-cidade{
    margin-top: 30px;
    padding-bottom: 50px;
}

.opcoes-registro-cidade .menu-opcoes{
    margin-left: 120px;
    padding-bottom: 30px;
}

.opcoes-registro-cidade .menu-opcoes .nav-tabs{
    border: none;
}


/*.nav-tabs > li.active > a, 
.nav-tabs > li.active > a:hover, 
.nav-tabs > li.active > a:focus*/
.opcoes-registro-cidade .menu-opcoes .nav-tabs li a:hover{
    background: transparent;
    border-color: transparent;
}   

.opcoes-registro-cidade .menu-opcoes .nav-tabs li a{
    font-size: 25px;
    font-weight: 100;
    color: #999;
}

.opcoes-registro-cidade .menu-opcoes .nav-tabs li.active a{
    border: none !important;
    color: #df8d91;
    background-color: transparent;
}


.perfil-prefeitura-container .menu-opcoes{
    padding-left: 40px !important;
}

.perfil-prefeitura-container .menu-opcoes .nav-tabs li.active a{
    color: #23a7f1;
}

/*/*/
.perfil-prefeitura-container .opcoes-registro-cidade{
    background-color: #fff;
    margin-top: 0;
    padding-top: 20px;
    padding-bottom: 0;
}

.perfil-prefeitura-container .opcoes-registro-cidade .menu-opcoes{
    margin-left: 0px;
    padding-bottom: 20px;
    border-bottom: 3px solid #f4f4f4;
}

.perfil-prefeitura-container .info-numeros-denuncias{
    margin-top: 130px;
    padding-bottom: 20px;
    border-bottom: 2px solid #f1f1f1;

}

.perfil-prefeitura-container .info-numeros-usuario{
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid #f1f1f1;
}

.perfil-prefeitura-container .info-numeros-denuncias .texto,
.perfil-prefeitura-container .info-numeros-usuario .texto,
.perfil-prefeitura-container .info-lista-funcionario .texto{
    color: #999;
    font-size: 12px;
    font-weight: 200;
    letter-spacing: 2px;
}

.perfil-prefeitura-container .info-numeros-denuncias .numero,
.perfil-prefeitura-container .info-numeros-usuario .numero{
    color: #23a7f1;
    font-size: 25px;
    /*font-weight: bold;*/
}

.perfil-prefeitura-container .info-lista-funcionario table{
    margin-top: 7px;
}

.perfil-prefeitura-container .info-lista-funcionario table tr td{
    border: none;
}

.tb-registro{
    margin-bottom: 10px !important;   
}

.tb-registro td:nth-child(1){
    width: 50px;
}

.tb-registro td:nth-child(2){
    padding-left: 15px;
    padding-right: 30px;
}

.tb-registro td:nth-child(3){
    background-color: #fbfbfb;
    border-bottom: 2px solid #f1f1f1;
    border-radius: 5px 0 0 5px;
    border-right: none;
    color: #a6a6a6;
    font-size: 12px;
}

.tb-registro td:nth-child(4){
    border-bottom: 2px solid #f1f1f1;
    padding-left: 15px;
    background-color: #fff;
    width: 100%;
    border-radius: 0  5px 5px 0;
    padding-top: 9px;
    padding-bottom: 9px;
    font-size: 12px;
}

.tb-registro .td-dia-semana{
    font-size: 12px;
    font-weight:bold;
}

.tb-registro .td-data-semana{
    font-size: 10px;
    color: #999;
}

.tb-registro .td-hora{
    padding-left: 15px;
    padding-right: 15px;
}

.tb-registro .td-registro .label{
    font-size: 12px;
}

.tb-registro .td-registro .link-mapa-denuncia{
    margin: 0;
    padding: 0;
}

.menu-cidades .cidade{
    background-color: #fff;
    border-bottom: 3px solid #f1f1f1;
    margin-bottom: 20px;
}

.menu-cidades .cidade .row{
    background: none;
}


.menu-cidades .cidade-info{
    padding-top: 20px;
    padding-bottom: 20px;
}

.menu-cidades .cidade-info .info-foto .foto{
    width: 100px;
    height: 100px;
    border-radius: 90px;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 18px;
}


.menu-cidades .cidade-info .info{
    font-weight: 200;
}

.menu-cidades .cidade-info .info .nome-prefeitura{
    font-size: 25px;
}

.menu-cidades .cidade-info .info .nome-cidade{
    font-size: 12px;
    color: #999;
    padding-bottom: 15px;
}

.menu-cidades .cidade-dados td{
    width: 150px;
    height: 75px;
    text-align: center;
    color: #fff;
}


.menu-cidades .cidade-dados td:nth-child(1){
    background-color: #f45655;
}

.menu-cidades .cidade-dados td:nth-child(2){
    background-color: #f09635;
}

.menu-cidades .cidade-dados td:nth-child(3){
    background-color: #21b9aa;
}

.menu-cidades .cidade-dados td:nth-child(4){
    background-color: #5c97bf;
}

.menu-cidades .comentarios{
    padding-bottom: 20px;
}

.menu-cidades .comentarios h1{
    font-weight: 100;
    padding: 10px 0 10px 0;
}

.menu-cidades .comentarios .coment{
    padding: 10px 0 10px 0; 
}

.menu-cidades .comentarios .coment b{
    color: #23a7f1;
}

.menu-cidades .comentarios .coment .glyphicon-trash{
    color: #23a7f1;
}

.menu-cidades .comentarios .coment .hora-denuncia{
    padding-left: 20px;
    margin-top: 3px;
    background-position: 0 1px;
}

.menu-informacoes .mi-ola{
    padding-top: 150px;
    padding-bottom: 150px;
    text-align: center;
    font-weight: 200;
    margin-left: 30px;
    margin-right: 30px;
}

.menu-informacoes .mi-ola .ola{
    font-size: 45px;
}

.menu-informacoes .mi-ola .cidade,
.menu-informacoes .mi-ola .prefeitura{
    font-size: 35px;
}

.menu-informacoes .mi-ola .cidade{
    font-weight: bold;
}


.mi-sobre{
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #f5f4f4;
}

.mi-sobre .titulo,
.mi-lideres .titulo,
.mi-fazendo .titulo,
.mi-falando .titulo{
    text-align: center;
    padding-bottom: 20px;
}

.mi-sobre .titulo .col-md-6,
.mi-lideres .titulo .col-md-6,
.mi-fazendo .titulo .col-md-6,
.mi-falando .titulo .col-md-6{
    padding-bottom: 25px;
    border-bottom: solid 2px #e1e1d9;
}


.mi-sobre .titulo .col-md-6 .texto,
.mi-lideres .titulo .col-md-6 .texto,
.mi-fazendo .titulo .col-md-6 .texto,
.mi-falando .titulo .col-md-6 .texto{
    font-size: 18px;
    font-weight: bold;
}

.mi-sobre .info-cidade .titulo{
    font-weight: bold;
}

.mi-sobre .info-cidade .valor{
    font-size: 12px;
    color: #666;
}

.mi-sobre .info-cidade .foto{
    margin-top: 8px;
}

.mi-sobre .info-cidade .foto .foto{
    height: 180px;
    width: 180px;
    border-radius: 100px;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fff;
    border: 3px solid #fff;

    -webkit-box-shadow: 3px 3px 4px -4px rgba(0,0,0,0.30), inset 2px 2px 1px -1px rgba(0,0,0,0.20);
    -moz-box-shadow: 3px 3px 4px -4px rgba(0,0,0,0.30), inset 2px 2px 1px -1px rgba(0,0,0,0.20);
    box-shadow: 3px 3px 4px -4px rgba(0,0,0,0.30), inset 2px 2px 1px -1px rgba(0,0,0,0.20);
}


.slogan .texto, 
.texto-sobre .texto{
    font-size: 30px;
    padding-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
}

.slogan .texto{
    font-size: 30px;
    font-family: "featherly";
}

.texto-sobre .texto{
    font-size: 12px;
    color: #7b7b7b;
}

.mi-lideres{
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: solid 1px #d3d2d2;
}

.mi-lideres .img-lideres .foto{
    height: 150px;
    width: 150px;
    margin: 0 auto;
}

.mi-lideres .img-lideres .foto .foto{
    height: 150px;
    width: 150px;
    border-radius: 100px;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
    border: 3px solid #fff;
}

.mi-lideres .img-lideres .nome,
.mi-lideres .img-lideres .funcao{
    font-size: 16px;
    font-weight: 200;
}

.mi-lideres .img-lideres .nome{
    color: #1b7fb7;
}

.mi-lideres .img-lideres .funcao{
    color: #7b7b7b;
}

.mi-lideres .img-lideres{
    padding-top: 50px;
    padding-bottom: 80px;
}


.mi-fazendo{
    padding-top: 30px;

}

.mi-fazendo .denuncias-ra{
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #fdf6e3;
}

.mi-fazendo .denuncias-ra .ra-titulo{
    font-weight: bold;
    padding-bottom: 10px;
}

.mi-fazendo .denuncias-ra .descricao{
    font-size: 12px;
    color: #7b7b7b;
}


.mi-falando{
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #ed5564;
    color: #fff;
}


.mi-falando .titulo .col-md-6{
    border-color: #fff;
}

.mi-falando .carousel-control.left{
    background-image: none !important;
}

.mi-falando .carousel-control.right{
    background-image: none !important;
}



.perfil-prefeitura{
    height: 300px !important;
    border-bottom: solid 2px #dfdfdf;
    background-color: #f3f5f6;
}

.perfil-prefeitura .perfil-topo{
    width: 100%;
    height: 300px !important;
    background-image: url(../img/40.jpg);
    background-size: 100%;
    background-position: 0 -420px ;
}

.perfil-prefeitura .perfil-foto{
    height: 200px;
    width: 200px;
    position: absolute;
    margin-top: -100px;
    margin-left: 0px
}

.perfil-prefeitura .perfil-foto .foto{
    height: 200px;
    width: 200px;
    border-radius: 100px;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fff;
    border: 3px solid #fff;

    -webkit-box-shadow: 3px 3px 4px -4px rgba(0,0,0,0.30), inset 2px 2px 1px -1px rgba(0,0,0,0.20);
    -moz-box-shadow: 3px 3px 4px -4px rgba(0,0,0,0.30), inset 2px 2px 1px -1px rgba(0,0,0,0.20);
    box-shadow: 3px 3px 4px -4px rgba(0,0,0,0.30), inset 2px 2px 1px -1px rgba(0,0,0,0.20);
}

.perfil-prefeitura-container{
    padding-bottom: 50px;
}

.perfil-prefeitura-container .perfil-prefeitura-nome{
    width: 959px !important; 
    background-color: #fff;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 35px;
    border-bottom: 3px solid #f7f7f7;
}

.perfil-prefeitura-container > .col-md-9 > .row:nth-child(2){
    width: 959px !important;
}

.perfil-prefeitura-container .menu-acoes{
    padding: 10px;
    padding-bottom: 30px;
    padding-top: 50px;
    background-color: #fafafa;
}



/*.perfil-prefeitura-container .menu-acoes .tb-registro td:nth-child(4){
    border-right: 2px solid #f1f1f1;
}*/

.perfil-prefeitura-container .area-direita-perfil-prefeitura{
    /*background-color: #000;*/

}

.perfil-prefeitura-container .perfil-prefeitura-nome .nome{
    font-size: 40px;
    font-weight: 100;
    letter-spacing: 2px;
}

.perfil-prefeitura-container .perfil-prefeitura-nome .cidade{
    font-weight: 200;
    color: #999;
    letter-spacing: 1px;
}

.foto-perfil-conf{
    margin-left: 100px;
}

.foto-perfil-conf .foto,
.foto-prefeito-conf .foto{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 18px;
}


.foto-perfil-conf .btn-mudar-foto-perfil,
.foto-prefeito-conf .btn-mudar-foto-perfil{
    margin-top: 15px;
    margin-left: 60px;
    width: 120px;
}
/*ui-fileupload-simple ui-widget*/
.btn-mudar-foto-perfil .ui-fileupload-simple{
    background: none !important;
} 

.btn-mudar-foto-perfil .ui-widget{
    background:  none !important;
}

.btn-mudar-foto-perfil .ui-button ui-widget{
    background:  #fff !important;
} 

.btn-mudar-foto-perfil .ui-state-default{
    background:  #fff !important;
} 

.btn-mudar-foto-perfil .ui-corner-all{
    background:  #fff !important;
}

.btn-mudar-foto-perfil .ui-button-text-icon-left{
    background:  #fff !important;
}


.foto-perfil-conf .btn-mudar-foto-perfil .ui-button-icon-left{

} 

.foto-perfil-conf .btn-mudar-foto-perfil .ui-icon {

}

.foto-perfil-conf .btn-mudar-foto-perfil .ui-c{

} 

.foto-perfil-conf .btn-mudar-foto-perfil .ui-icon-plusthick{

}

.foto-perfil-conf .btn-mudar-foto-perfil input[type="file"]{
    background: none !important;
    width: 120px !important;
    height: 27px !important;
    padding: 0;
    margin: 0;

}


.btn-atualizardados{
    padding-left: 50px;
    padding-right: 50px;
    letter-spacing: 1px;
    border-radius: 3px;
    font-weight: 200;
}

.gerenciar-denuncias{
    margin-top: 20px;
    margin-bottom: 20px !important;
}

.gerenciar-denuncias .denuncia{
    background-color: #fff;
    padding: 15px 5px 5px 10px !important;
}

.gerenciar-denuncias .denuncia{
    padding: 0 !important;
    padding-bottom: 10px !important;
}

.gerenciar-denuncias .img-denuncia{
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 10px;

}

.gerenciar-denuncias .link-mapa-denuncia{
    padding: 0;
}

.gerenciar-denuncias .col-md-6{
    padding: 5px !important;
}

.gerenciar-denuncias .col-md-6 .glyphicon-heart,
.denuncia-individual .glyphicon-heart{
    color: #c9302c;
}

.gerenciar-denuncias .col-md-6 .glyphicon-exclamation-sign,
.denuncia-individual .glyphicon-exclamation-sign{
    color: #f09635;
}

.gerenciar-denuncias .col-md-6 .glyphicon-heart, 
.gerenciar-denuncias .col-md-6 .glyphicon-exclamation-sign{
    font-size: 14px;
    padding-right: 6px;

}

.gerenciar-denuncias .btn-gerenciar{
    padding-top: 0 !important;
}

.lista-de-fitro .texto{
    color: #999;
    font-size: 13px;
    font-weight: 200;
    letter-spacing: 3px;
}

.lista-de-fitro li, 
.lista-de-fitro li a,
.lista-de-fitro li a:hover{
    color: #23A7F1;
    font-size: 12px;
    text-decoration: none;
}

.lista-de-fitro li .glyphicon-sort-by-attributes-alt,
.lista-de-fitro li .glyphicon-sort-by-attributes,
.lista-de-fitro li .glyphicon glyphicon-sort-by-attributes{
    color: #000 !important;
}

.lista-de-fitro li .badge{
    font-size: 10px !important;
    /*background-color: #E94B61;*/
    margin-left: 5px;
}

.denuncia-individual{
    margin-top: 20px;
    margin-bottom: 50px;
}

.denuncia-individual .ud-denuncia{
    background-color: #fff;
}

.denuncia-individual .btn-atender-denuncia{
    margin-top: 20px;
}


.denuncia-individual .info-de-atendida{

}

.denuncia-individual .info-de-atendida .img-denuncia-atendida{
    max-width: 100%;
    /*width: 100%;*/
    max-height: 400px;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 10px;
    padding-top: 5px;
}


.denuncia-individual .registro-denuncia-individual,
.denuncia-individual .info-de-atendida{
    margin-top: 20px !important;
}

.denuncia-individual .ud-denuncia{
    padding-top: 0;
}

.denuncia-individual .link-mapa-denuncia{
    padding-left: 0;
}

.denuncia-individual .hora-denuncia{
    margin-left: 25px;
}

.denuncia-individual .glyphicon-heart,
.denuncia-individual .glyphicon-exclamation-sign{
    margin-top: 10px;
}

.btn-atender{

}


/*visitante*/

.texto-100{
    font-weight: 100 !important;
}

.texto-200{
    font-weight: 200;
}

.texto-1{
    font-size: 2em;
    font-weight: 100 !important;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.texto-2{
    font-weight: 200;
}

.cor-vermelha{
    background-color: red;
}

.cor-azul{
    background-color: blue;
}

.cor-amarela{
    background-color: yellow;
}

.texto-cor-cinza-dark{
    color: #656d78;
}

.texto-cor-cinza-claro{
    color: #999;
}

.texto-cor-azul-escuro{
    color: #1b7fb7;
}

.menu-visitante{
    /*margin-top: -50px;*/
    width: 100%;
    /*    min-width: 1300px;*/
    height: 50px;
    /*background-color: #03a9f4;*/
    background-color: #3498DB;
    box-shadow: 0px 0px 10px 0.00px rgba(0, 0, 0, 0.43);
    /*position: fixed;*/
    z-index: 1000;
}

.m-visitante{
    background-color: #ffffff;
}

.m-visitante .btn-default{
    margin-top: 8px;
}

.pagina-visitante:last-child{
    /*margin-top: 50px;*/
    padding-bottom: 50px;
}

.pagina-visitante .barra-pesquisa{
    margin-top: 20px;
    background-color: #fff;
    padding: 15px 10px 15px 10px;
    /*    border: 1px solid #d8d8d8;*/

    background-color: rgba(255, 255, 255, 0.7);;
    /*padding: 20px 15px 30px 15px;*/
    border-radius: 6px;
    -webkit-box-shadow: 10px 7px 30px -5px rgba(0,0,0,0.32);
    -moz-box-shadow: 10px 7px 30px -5px rgba(0,0,0,0.32);
    box-shadow: 10px 7px 30px -5px rgba(0,0,0,0.32);
}


.pagina-visitante .mapa-fundo-visitante{
    background-color: #d8d8d8;
    width: 100%;
    height: 500px;
    position: absolute;
    z-index: -1;
}

.pagina-visitante .resultado-pesquisa-visitante{
    margin-top: 350px;

}

.pagina-visitante .resultado-pesquisa-visitante .img-brasao,
.pagina-visitante .resultado-pesquisa-visitante .img-lider{
    width: 10em;
    height: 10em;
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center;
    border-radius: 100px;
    /*border: none;*/
    border: 3px solid #fff;

    -webkit-box-shadow: 3px 3px 4px -4px rgba(0,0,0,0.30), inset 2px 2px 1px -1px rgba(0,0,0,0.20);
    -moz-box-shadow: 3px 3px 4px -4px rgba(0,0,0,0.30), inset 2px 2px 1px -1px rgba(0,0,0,0.20);
    box-shadow: 3px 3px 4px -4px rgba(0,0,0,0.30), inset 2px 2px 1px -1px rgba(0,0,0,0.20);
}

.pagina-visitante .resultado-pesquisa-visitante .img-lider{
    width: 8.5em;
    height: 8.5em;
}


.pagina-visitante .resultado-pesquisa-visitante .icones-info{
    padding-right: 0.3em;
}

.pagina-visitante .resultado-pesquisa-visitante .informacoes-da-prefeitura{
    margin-top: 0.5em;
}

.pagina-visitante .resultado-pesquisa-visitante .lideres-da-cidade{
    margin-top: 0.5em;
}

@media (max-width: 768px){

    .texto-1{
        font-size: 1.5em;
    }

    .pagina-visitante .barra-pesquisa .btn-default{
        display: block;
        width: 100% !important;
        padding: 10px 0 10px 0;
    }

    .pagina-visitante .resultado-pesquisa-visitante{
        margin-top: 0;
    }

    .pagina-visitante .resultado-pesquisa-visitante .img-brasao{
        width: 6em;
        height: 6em;
    }
    
    .pagina-visitante .resultado-pesquisa-visitante .img-lider{
        width: 10em;
        height: 10em;
    }

}